.main-section {
  height: 500px;
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tech-nav-link:not(.techActive):hover {
  color: #0b0d17;
  background-color: white;
}
.technology-content1 {
  height: 100%;
  width: 50%;
}
.technology-content2 {
  height: 100%;
  width: 50%;
}

.content-section1 {
  padding-left: 80px;
  height: 100%;
  width: 100%;
}
.tech-content {
  height: 470px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.tech-content1 {
  height: 100%;
  width: 20%;
}
.tech-content2 {
  margin-left: 30px;
  margin-top: 90px;
}
.tech-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  height: 100%;
}
.tech-nav-link {
  list-style-type: none;
  font-size: 40px;

  height: 70px;
  width: 70px;

  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
}

.tech-header-h1 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 22;
  font-size: 28px;
  text-align: left;
  margin-left: 10%;
}

.tech-header {
  padding-top: 80px;
}

.tech-nav-link:hover {
  cursor: pointer;
  background-color: white;
  color: #0b0d17;
}

.tech-name {
  font-size: 56px;
  font-weight: 400;
  line-height: 64.18px;
  padding-top: 10px;
}

.tech-desc {
  font-family: "Barlow Condensed", sans-serif;
  width: 80%;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #d0d6f9;
  padding-top: 40px;
}

#tech-img {
}
.technology-content2 {
  display: flex;
  justify-content: flex-end;
}
.techActive {
  /* color: #0b0d17;
  background-color: white; */
  color: #0b0d17;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .tech-header {
    padding-top: 0px;
    margin-bottom: 120px;
    text-align: center;
  }
  .main-section {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .technology-content1 {
    height: 100%;
    width: 100%;
    margin-top: 5px;
    padding-top: 0px;
  }
  .technology-content2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 2px;
  }
  .tech-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2px;
    height: 100%;
    padding-bottom: 2px;
  }
  .tech-content1 {
    height: auto;
    width: 100%;
  }
  .tech-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 2px;
  }
  .tech-nav-link {
    list-style-type: none;
    font-size: 14px;

    height: 30px;
    width: 30px;

    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    margin: 5px;
    padding-top: 3px;
  }
  .content-section1 {
    padding-left: 0px;
    text-align: center;
    padding-top: 0px;
  }
  .tech-desc {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .tech-name {
    font-size: 34px;
    font-weight: 400;
    line-height: 43.18px;
    padding-top: 10px;
  }
  .tech-content2 {
    margin-top: 10px;
  }
  #tech-img {
    height: 310px;
    min-width: 100%;
    padding-top: 40px;
    margin-bottom: 5px;
  }
  .techActive {
    /* color: #0b0d17;
    background-color: white; */
    color: #0b0d17;
    background-color: white;
  }
}
