.App {
  background-image: url("./images/home/background-home-desktop.jpg");
  min-height: 100%;
  background-color: black;

  /* background-size: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 992px) {
  .App {
    background-image: url("./images/home/background-home-tablet.jpg");

    min-height: 100%;
    background-color: black;

    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .App {
    background-image: url("./images/home/background-home-mobile.jpg");

    min-height: 100%;
    background-color: black;

    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
  }
}
