/* @font-face {
  font-family: "Bellefair";
  src: url("./fonts/Bellefair/Bellefair-Regular.ttf") format("truetype");
} */

body {
  margin: 0;
  font-family: "Bellefair", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: green;
  height: 100%;
  width: 100%;
}

html,
#root {
  height: 100%;
  width: 100%;
}
